################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/onebroker-core/.vs/onebroker-core/v17/.suo
/onebroker-core/.vs
/onebroker-core/ob.core.api/bin/Debug/net7.0
/onebroker-core/ob.core.api/obj
/onebroker-core/ob.core.application/obj
/onebroker-core/ob.core.data/obj
/onebroker-core/ob.core.domain/obj
/onebroker-core/ob.core.ioc/obj
/onebroker-core/ob.core.service/obj
/onebroker-core/ob.core.api/bin/Release/net7.0
/ob.core.api/bin
/ob.core.api/obj
/ob.core.application/obj
/ob.core.data/obj
/ob.core.domain/obj
/ob.core.ioc/obj
/ob.core.service/obj
/src/ob.core.application/obj
/src/ob.core.api/bin
/src/ob.core.api/obj
/src/ob.core.data/obj
/src/ob.core.domain/obj
/src/ob.core.ioc/obj
/src/ob.core.service/obj
/src/ob.core.api/ob.core.api.csproj.user
/src/ob.core.application/bin/Debug/net7.0
/src/ob.core.data/bin/Debug/net7.0
/src/ob.core.domain/bin/Debug/net7.0
/src/ob.core.ioc/bin/Debug/net7.0
/src/ob.core.service/bin/Debug/net7.0
/src/ob.core.data/bin/Release/net7.0
/src/ob.core.domain/bin/Release/net7.0
/src/ob.core.ioc/bin/Release/net7.0
/src/teste.inbev.core.api/bin/Debug
/src/teste.inbev.core.api/obj
/src/teste.inbev.core.api/ob.core.api.csproj.user
/src/teste.inbev.core.api/teste.inbev.core.api.csproj.user
/src/teste.inbev.core.application/obj
/src/teste.inbev.core.application/bin/Debug
/src/teste.inbev.core.data/bin
/src/teste.inbev.core.data/obj
/src/teste.inbev.core.domain/bin
/src/teste.inbev.core.domain/obj
/src/teste.inbev.core.integration.test/bin
/src/teste.inbev.core.integration.test/obj
/src/teste.inbev.core.ioc/bin
/src/teste.inbev.core.ioc/obj
/src/teste.inbev.core.service/bin/Debug
/src/teste.inbev.core.service/obj
/src/teste.inbev.core.test/bin
/src/teste.inbev.core.test/obj
